<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>linked open actors (LOA) - app</title>
<link rel="stylesheet" href="/publications.css">
</head>
<body>
	<h1>Welcome to the LOA-app</h1>
	For detailed information goto <a href="https://linkedopenactors.org" target="_blank">linked open actors (LOA)</a>
	<ul>
		<li>Available <a href="algorithms">algorithms</a></li>
<!-- 		<li>Available <a href="comparators">comparators</a></li> -->
		<li><a href="lastSync">See when the last synchronization took place</a></li>
	</ul> 
</body>
</html>