<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>linked open actors (LOA) - create temp repository</title>
<link rel="stylesheet" href="/publications.css">
</head>
<body>
	<h1>Create a temporary loa repository</h1>

	<section class="my-5">
		<div class="container">
			<div class="row">
				<div class="col-md-8 mx-auto">
					<p>The repository will be deleted after a few (~6) hours !</p>
					<p>Please upload the csv file that contains the loa objects, that should be in the new repository:</p>
					<p th:text="${message}" th:if="${message ne null}"
						class="alert alert-primary"></p>
					<form method="post" th:action="@{/tools/createTempRepo}"
						enctype="multipart/form-data">
						<label for="fname">CSV File:</label>
						<input type="file" name="file" class="form-control-file">
						</br>
						<button type="submit" class="btn btn-primary">Click to create repository</button>
					</form>
				</div>
			</div>
		</div>
	</section>
	<p>
	<h2>The csv should heave the following headlines/columns:</h2>
					PublicationLoa_version</br>
					PublicationLoa_copyrightNotice</br>
					PublicationLoa_creativeWorkStatus</br>
					PublicationLoa_dateCreated</br>
					PublicationLoa_dateModified</br>
					PublicationLoa_license</br>
					PublicationLoa_keywords</br>
					PublicationLoa_identifier</br>
					PublicationLoa_description</br>
					OrgansationLoa_legalName</br>
					OrgansationLoa_name</br>
					OrgansationLoa_url</br>
					PlaceLoa_latitude</br>
					PlaceLoa_longitude</br>
					PostalAddressLoa_postalCode</br>
					PostalAddressLoa_addressLocality</br>
					PostalAddressLoa_addressRegion</br>
					PostalAddressLoa_addressCountry</br>
					PostalAddressLoa_streetAddress</br>
					ContactPointLoa_email</br>
					ContactPointLoa_name</br>
					ContactPointLoa_telephone</br>
		</p>			
</body>
</html>