<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>DistanceCalculator</title>
<link rel="stylesheet" href="/publications.css">
</head>
<body>
	<h1>fuzzySearchTokenSetRatioAlgorithm</h1>
	See: <a href="https://github.com/xdrop/fuzzywuzzy#usage">fuzzywuzzy usage</a>
	<h2>Sample call:</h2>
	<a href="http://localhost:8080/fuzzyfuzzy/compare?algorithmName=fuzzySearchTokenSetRatio&textA=Manfred=ttt&textB=Fred">http://localhost:8080/fuzzyfuzzy/compare?algorithmName=fuzzySearchTokenSetRatio&textA=Manfred=ttt&textB=Fred</a>
</body>
</html>